<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: gray;">
    <div>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Halima Collection</h1></a>
                <p>Your One Stop Shop</p>
              </div>
            <ul>
             <li><a href="/">Home></a></li>
             <li><a href="">Women></a></li>
             <li><a href="">Men></a></li>
             <li><a href="">Sneakers></a></li>
             <li><a href="">Accessories></a></li>
            </ul>
             </nav>
    </div>

<div class="product-page">
    <div>
        <img src="/images/Sneaker.jpg" alt="" width="300">
        <h3>sneaker</h3>
        <a href="">Shop now></a>
    </div>
    <div>
         <img src="/images/Khakki.jpg" alt="" width="300">
         <a href="">Men></a>
    </div>
   <div>
       <img src="/images/DollyShoes.jpg" alt="" width="300">
       
       <a href="">Dolly Shoes></a>
   </div>
    
</div>
</body>
</html>